    * {
        margin: 0;
    }
    
    body {
        padding-top: 10px;
        padding-left: 100px;
        padding-right: 100px;
        margin-bottom: 30px;
    }
    
    .header {
        padding: 5px;
        text-align: center;
        background-color: aliceblue;
    }
    
    .header a {
        color: grey;
        text-decoration: none;
    }
    
    .header a:hover {
        color: blue;
    }
    
    .info {
        text-align: right;
        background-color: rgb(236, 235, 235);
        color: grey;
        font-size: 14px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-top: 5px;
    }
    
    .nav {
        position: relative;
        text-align: center;
        padding: 5px;
        margin-top: 5px;
        font-size: 18px;
    }
    
    .nav a {
        color: grey;
        text-decoration: none;
        padding: 5px;
    }
    
    .nav a:hover {
        background-color: white;
        color: blue;
        border: solid 1px grey;
        border-radius: 50px;
    }
    
    .container {
        background-color: aliceblue;
        margin-top: 20px;
        padding: 10px;
        border: solid 3px white;
        border-radius: 10px;
        box-shadow: rgba(116, 114, 114, 0.1) 0px 4px 12px;
    }
    
    .container p {
        font-size: 16px;
        padding-left: 10px;
    }
    
    .judul {
        padding: 10px;
        text-align: left;
    }
    
    .site {
        text-align: right;
        background-color: rgb(247, 247, 247);
        padding-top: 5px;
        padding-right: 15px;
        padding-bottom: 5px;
    }
    
    table {
        padding-top: 10px;
        padding-left: 10px;
    }
    
    .btn {
        text-align: left;
        margin-top: 15px;
        padding: 5px;
    }
    
    .btn a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        background-color: rgb(3, 223, 138);
        border: solid 1px rgb(3, 223, 138);
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    }
    
    .btn a:hover {
        color: rgb(3, 223, 138);
        background-color: transparent;
        border: solid 1px rgb(3, 223, 138);
    }
    
    .small {
        background-color: transparent;
        font-size: 12px;
        text-align: right;
        color: grey;
        margin-left: 150px
    }